<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676496757021-p239gc5b8h7k05rlv69dhg4bdcrgcus6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676496757021-p239gc5b8h7k05rlv69dhg4bdcrgcus6</string>
	<key>API_KEY</key>
	<string>AIzaSyDZJ0G9jldD-cQWUcTsXKQW8Ad_ledUoDs</string>
	<key>GCM_SENDER_ID</key>
	<string>676496757021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseTestApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-test-ap-ad421</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-test-ap-ad421.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676496757021:ios:892ab5ad2297d88b64d1f4</string>
</dict>
</plist>